<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="$(optenv ROBOT minibot)" /> <!-- this is the namespace of the robot -->

    <group ns="$(arg robot_name)" >
        <remap from="/tf" to="/$(arg robot_name)/tf" />
        <remap from="/tf_static" to="/$(arg robot_name)/tf_static" />

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_controller)/config/minibot_slam.rviz"  />
    </group>
</launch>
